@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  max-width: 100%;
  background-color: #112b3c;
  color: #efefef;
  font-weight: 500;
}

.nav-links {
  display: flex;
  padding-right: 35px;
}
.nav-links li {
  list-style: none;
  text-decoration: none;
  padding: 15px;
}
.nav-links a {
  text-decoration: none;
  color: #efefef;
  font-weight: 500;
  transition: ease 0.5s all;
}

.nav-links a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #f66b0e;
}

Logo {
  font-weight: 700;
  font-size: 1.6rem;
  padding-left: 35px;
}

.left-hero {
  padding: 4em;
  line-height: 1.6;
}

.left-hero h4 {
  color: #f66b0e;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 25px;
}
.left-hero h1 {
  color: #205375;
  font-size: 90px;
}

.hero-section {
  padding: 5% 0 12% 0;
  background-color: #efefef;
}

.projects-btn,
.linkedin-btn {
  background-color: #f66b0e;
  color: #efefef;
  padding: 15px 50px 15px 50px;
  font-size: 17px;
  border: 0;
  border-radius: 30px;
  font-weight: 400;
  transition: ease-in 0.1s all;
}

.projects-btn:hover,
.linkedin-btn:hover {
  background-color: #205375;
}

.hero-btn {
  padding-left: 4em;
  word-spacing: 10px;
}

.portfolio {
  color: #efefef;
  background-color: #205375;
  padding: 2em;
}

.ind-projects {
  border: 3px #f66b0e solid;
  border-radius: 0.5em;
  margin-top: 3em;
  padding: 1.5em;
  line-height: 1.6;
  max-width: 100%;
  position: relative;
  text-align: center;
}

.ind-projects h2 {
  font-size: 2rem;
  padding: 2em 2em 0.5em 1em;
  font-weight: 400;
}

.ind-projects h4 {
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
  padding-bottom: 1em;
}

.view-project {
  padding: 1em 2em 1em 2em;
  position: relative;
  left: 18em;
  border: 0;
  background-color: #f66b0e;
  color: #efefef;
  border-radius: 5px;
  font-size: 1rem;
  transition: ease-out 0.5s all;
}

.view-project:hover {
  background-color: #efefef;
  color: #205375;
}

.portfolio img {
  width: 600px;
  position: relative;
  right: 5%;
  padding: 1em 0 4em 0;
  pointer-events: none;
}

.items {
  margin-bottom: 3em;
}

footer {
  background-color: #112b3c;
  color: #efefef;
  font-size: 2.5rem;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-items {
  width: 10%;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.about-section{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #efefef;
  color: #205375;
}

.about-section h1{
  font-size: 2.5rem;
  margin-top: 2em;
}

.about-section h5{
  font-size: 1.5rem;
  margin-top: 2em;
}

.abt-pj-btn{
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 1.4rem;
  padding: .6em 1.6em .6em 1.6em;
  border: 0;
  border-radius: 5px;
  background-color: #f66b0e;
  color: #efefef;
  transition: 0.5s ease-in-out all;
}

.abt-pj-btn:hover{
  background-color: #205375;
  color: #efefef;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fname, #lname{
  width: 500px;
  height: 35px;
}
#subject{
  width: 500px;
  height: 200px;
}

#submit{
  color: #efefef;
  background-color: #f66b0e;
  border: 0;
  font-size: 1.4rem;
  padding: .6em 1.6em .6em 1.6em;
  border: 0;
  border-radius: 5px;
  background-color: #f66b0e;
  color: #efefef;
  transition: 0.5s ease-in-out all;
}

#submit:hover{
  background-color: #205375;
  color: #efefef;
}

#fname-label, #lname-label, #subject-label{
  color: #205375;
  font-weight: 400;
  font-size: 1.6rem;
  display: flex;
}