@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  max-width: 100%;
  background-color: #112b3c;
  color: #efefef;
  font-weight: 500;
}

.nav-links {
  display: flex;
  padding-right: 35px;
}
.nav-links li {
  list-style: none;
  text-decoration: none;
  padding: 15px;
}
.nav-links a {
  text-decoration: none;
  color: #efefef;
  font-weight: 500;
  transition: ease 0.5s all;
}

.nav-links a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #f66b0e;
}

Logo {
  font-weight: 700;
  font-size: 1.6rem;
  padding-left: 35px;
}

.left-hero {
  padding: 4em;
  line-height: 1.6;
}

.left-hero h4 {
  color: #f66b0e;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 25px;
}
.left-hero h1 {
  color: #205375;
  font-size: 90px;
}

.hero-section {
  padding: 2% 0 7% 0;
  background-color: #EFEFEF;
}

.projects-btn,
.linkedin-btn {
  background-color: #f66b0e;
  color: #efefef;
  padding: 15px 50px 15px 50px;
  font-size: 17px;
  border: 0;
  border-radius: 30px;
  font-weight: 400;
  transition: ease-in 0.1s all;
}

.projects-btn:hover,
.linkedin-btn:hover {
  background-color: #205375;
}

.hero-btn {
  padding-left: 4em;
  word-spacing: 10px;
}

.portfolio {
  color: #EFEFEF;
  background-color: #205375;
  padding: 2em;
}

.ind-projects{
  border: 3px #f66b0e solid;
  border-radius: .5em;
  margin-top: 1em;
  padding: 1.5em;
  line-height: 1.6;
}