@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  max-width: 100%;
  background-color: #fdc435;
  color: #D61C4E;
}

.nav-links {
  display: flex;
  padding-right: 35px;
}
.nav-links li {
  list-style: none;
  text-decoration: none;
  padding: 15px;
  font-weight: 500;
}
.nav-links a {
  text-decoration: none;
  color: #ff6200;
  transition: ease 0.3s all;
}

.nav-links a:hover{
  text-decoration: underline;
}

Logo {
  font-weight: 700;
  font-size: 1.5rem;
  padding-left: 35px;
}

.left-hero{
  padding: 4em;
  line-height: 1.6;
}

.left-hero h4{
  color: #fdc435;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  color: #ff6200;
}
.left-hero h1{
  color: #fdc435;
  font-size: 100px;
}